/* Estilos Globales y Configuraciones */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Animación de la Marquesina (Top Banner) */
@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-33.33%); }
}

.animate-marquee {
    display: inline-block;
    animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
    animation-play-state: paused;
}